<div class="body-about animated fadeIn encabezado">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 d-flex justify-content-center align-items-center">
                    <img class="rounded-circle" src="/assets/img/fotoPerfil.jpg" alt="Circle image">
              </div>
              <div class="col">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Voluptatum, quas omnis. Labore culpa numquam sequi in
                  repudiandae deserunt, dolores cupiditate. Officia perspiciatis
                  commodi aliquam! Excepturi debitis beatae iste earum odit?
                  Ipsum molestias quaerat saepe omnis voluptatem a ut explicabo
                  molestiae, ex, autem libero similique debitis, possimus earum
                  eius nulla rerum nisi laborum. Accusantium veritatis excepturi
                  modi sint non dignissimos praesentium? Repellendus sequi
                  itaque, ratione id dignissimos sed reprehenderit dolore
                  aperiam aliquam voluptatibus enim nisi sunt ex placeat a
                  expedita quo beatae doloremque esse aspernatur odit aut!
                  Accusantium iste fugit totam. Ullam adipisci a deleniti alias
                  aliquam sed fugiat omnis dolor vitae, rem dolore reiciendis.
                  Et omnis maiores ea minus voluptas quibusdam quod illo
                  repellat rerum iure quisquam delectus, voluptatibus
                  doloremque. Iste numquam distinctio fuga quia quis deserunt
                  nihil doloremque perferendis necessitatibus! A perspiciatis
                  mollitia sunt, tenetur assumenda possimus aperiam, suscipit
                  itaque ipsam soluta dolores odio perferendis earum ex quam
                  accusamus! Aut voluptate quod pariatur asperiores eveniet eum
                  facilis odit excepturi, aspernatur voluptatum dolores voluptas
                  consequuntur illo sunt provident velit nam, suscipit quibusdam
                  veniam totam nostrum ex aliquam sed? Perspiciatis, placeat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
