.body{
    background-image: url(/assets/img/banner-header.jpeg);
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}