.nav-bar{
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    z-index: 1;
}

.icono{
    width: 35px;
    margin-left: 6px;
}

a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

a:hover{
    color:rgb(177, 177, 177);
}